<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway"
	xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
	<http:listener-config name="employee_details-httpListenerConfig">
        <http:listener-connection host="${http.host}" port="${http.port}" />
    </http:listener-config>
    <apikit:config name="employee_details-config" api="resource::a0c5eebb-9b5e-44b7-9808-8dd1bdefa909:employee_details:1.0.0:raml:zip:employee_details.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
	<configuration doc:name="Configuration" doc:id="f9048c73-3fbb-4fb5-a9d1-75dd22927f7f" defaultErrorHandler-ref="global-error-handlerError_Handler" />
	<configuration-properties doc:name="Configuration properties" doc:id="533bf251-6d67-4209-80be-4c351851b0d7" file="dev.yaml" />
	<secure-properties:config name="Secure_Properties_Config" doc:name="Secure Properties Config" doc:id="235046d8-5f44-4f11-9cc3-fd86c0346852" file="secure.yaml" key="customerModule12" />
	<api-gateway:autodiscovery apiId="19758234" ignoreBasePath="true" doc:name="API Autodiscovery" doc:id="dcf31bbd-1314-4e19-9a11-ceec39c906ea" flowRef="employee_details-main" />
	
</mule>
